
<div class="p-3 h-100">
  <div class="d-flex justify-content-end">
    <button class="btn-close" (click)="cerrar()"> </button>
  </div>
  <h2 class="text-center mb-4">Configuraciones Generales</h2>

  <div class="popup d-flex h-100">
    <!-- Menu lateral -->
    <div class="menu flex-shrink-0 me-3" style="width: 220px;">
      <ul class="list-group">
        <li class="list-group-item">
          <button class="btn w-100 text-start" (click)="toggleSubmenu('campañas')">
            Campañas
          </button>
          @if(expandedMenu==='campañas'){
            <ul class="list-group mt-1 ms-3">
              <li class="list-group-item border-0"><button class="btn btn-sm m-0 p-0 text-start w-100" (click)="selectSection('cadetes')"> Campaña Cadetes</button></li>
              <li class="list-group-item border-0"><button class="btn btn-sm m-0 p-0 text-start w-100" (click)="selectSection('suboficial')"> Campaña Suboficial</button> </li>
              <li class="list-group-item border-0"><button class="btn btn-sm m-0 p-0 text-start w-100" (click)="selectSection('profesional')"> Campaña Profesional</button></li>
              <li class="list-group-item border-0"><button class="btn btn-sm m-0 p-0 text-start w-100" (click)="selectSection('listadoCampañas')"> Historial Campañas</button></li>
          </ul>
          }
        </li>
        <li class="list-group-item">
          <button class="btn w-100 text-start" (click)="selectSection('otras')">
            Otras Configuraciones
          </button>
        </li>
      </ul>
    </div>

    <!-- Contenido dinámico -->
    <div class="content flex-grow-1">
      @if (selectedSection === 'cadetes' || selectedSection === 'suboficial' || selectedSection === 'profesional'){
        <div>
        <h4>Nueva Campaña {{ selectedSection | titlecase }}</h4>
        <form  [formGroup]="campaniaForm" (ngSubmit)="onSubmit()">
          <input type="hidden" formControlName="tipoInscripcionId">
          <input type="hidden" formControlName="campaniaId">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input id="nombre" class="form-control text-center" formControlName="nombre">
          </div>
          <div class="mb-3">
            <label for="fechaInicio" class="form-label">Fecha de inicio</label>
            <input id="fechaInicio" type="datetime-local" class="form-control text-center" formControlName="fechaDesde">
          </div>
          <div class="mb-3">
            <label for="fechaFin" class="form-label">Fecha de fin</label>
            <input id="fechaFin" type="datetime-local" class="form-control text-center" formControlName="fechaHasta">
          </div>
          <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary" [disabled]="guardando">Guardar</button>
            </div>
          @if (guardando)
          {
             <div class="d-flex justify-content-center mt-5">
              <mat-spinner [diameter]="30" [strokeWidth]="3"></mat-spinner>
            </div>
          }
        </form>
      </div>
      }
      <!-- LISTADO DE TODAS LAS CAMPAÑAS -->
      @if(selectedSection === 'listadoCampañas'){
        <div>
          <div class="text-center">
            <p class="fs-4">Historial de Campañas</p>
          </div>
          @if(!guardando){
             <table class="table border-row table hover table-light table-striped compact tabla-chica"  style="font-size: x-small;">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Activo</th>
              </tr>
            </thead>
            <tbody>
              @for (campania of campanias; track $index) {
              <tr
              (click)="getCampania(campania.campaniaId)"
              style="cursor: pointer;">
                <td>{{ campania.nombre }}</td>
                <td>{{ campania.tipoInscripcion.tipoInscripcionNombre }}</td>
                <td>{{ campania.fechaDesde | date:'dd/MM/yyyy' }}</td>
                <td>{{ campania.fechaHasta | date:'dd/MM/yyyy' }}</td>
                <td>{{ campania.activo ? 'Sí' : 'No' }}</td>
              </tr>
              }
            </tbody>
          </table>
          }
          @if(guardando){
            <div class="d-flex justify-content-center mt-5">
              <mat-spinner [diameter]="30" [strokeWidth]="3"></mat-spinner>
            </div>

          }
        </div>
      }
      <!-- FORMULARIO DE MODIFICACION DE CAMPAÑA -->
      @if(selectedSection === 'modifCampania'){
        <form [formGroup]="editCampaniaForm" (ngSubmit)="onSubmitEdit()" class="p-3">
            <input type="hidden" class="form-control" formControlName="campaniaId" readonly />

          <div class="mb-3">
            <label for="" class="form-label">Nombre</label>
            <input type="text" class="form-control text-center" formControlName="nombre" />
          </div>

          <div class="mb-3">
            <label for="" class="form-label">Fecha Desde</label>
            <input type="datetime-local" class="form-control text-center" formControlName="fechaDesde" />
          </div>

          <div class="mb-3">
            <label for="" class="form-label">Fecha Hasta</label>
            <input type="datetime-local" class="form-control text-center" formControlName="fechaHasta" />
          </div>

          <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" formControlName="activo" />
            <label for="" class="form-check-label">Activo</label>
          </div>
           @if (guardando)
          {
             <div class="d-flex justify-content-center mt-5">
              <mat-spinner [diameter]="30" [strokeWidth]="3"></mat-spinner>
            </div>
          }
          @if(!guardando)
          {
          <div class="d-flex justify-content-around">
            <button type="button" class="btn btn-danger" [disabled]="guardando" (click)="eliminarCamapania(editCampaniaForm.value.campaniaId)">
              Eliminar Campaña
            </button>
            <button type="submit" class="btn btn-primary" [disabled]="guardando">
              Guardar cambios
            </button>
          </div>
        }
        </form>
      }

      <!-- OTRAS CONFIGURACIONES -->
      @if(selectedSection === 'otras'){
        <div>Otras Configuraciones</div>
      }
      @else {
        <div></div>
      }

    </div>
  </div>


</div>

