.config-container {
  display: flex;
  height: 100%;
}

.sidebar {
  flex: 1; /* 1/4 */
  border-right: 1px solid #ddd;
}

.content {
  flex: 3; /* 3/4 */
  padding: 1rem;
}

.popup-container {
  display: flex;
  min-height: 800px;
}
.menu {
   width: 35%;
   margin-right: 1rem;
  }
.content {
  flex: 1;
  border-left: 1px solid #ccc;
  padding-left: 1rem;
  height: 100%;
}
.submenu {
  padding: 0.5rem;
  cursor: pointer;
}
.submenu:hover {
  background-color: #eee;
}


