
table.dataTable thead th {
  text-align: center !important;
}

.estado-select {
    width: auto;
    min-width: 300px;
    text-align: center;
}

/* Estilo para el mat-select cuando está solo (sin mat-form-field) */
.estado-select ::ng-deep .mat-mdc-select-trigger {
    font-size: 2.5rem !important;
    font-weight: 400;
    height: auto !important;
    line-height: 1.2;
}

.estado-select ::ng-deep .mat-mdc-select-value {
    display: flex;
    align-items: center;
    font-size: 2.5rem !important;
}

/* Ajustar el tamaño de la flecha si es necesario */
.estado-select ::ng-deep .mat-mdc-select-arrow svg {
    width: 24px;
    height: 24px;
}




