.backgroundImageHome{
    background-image: url('../../assets/images/YNGYUHGXBRAGVIYZYB6NBGTNGU.jpg');
    background-size: cover;
    max-width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}