<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->

<div>
  <!-- container para errres -->
  <ng-container *ngIf="error; else datos">
    <p class="error">{{ error }}</p>
  </ng-container>

  <!-- si no hay error muestra esto -->
  <ng-template #datos>
    <!--div para Navegacion -->
    <div>
      <div class="d-flex justify-content-between my-3">
        <button
          class="btn btn-secondary"
          (click)="navegarAnterior()"
          [disabled]="currentIndex <= 0"
        >
          ← Anterior
        </button>
        <span *ngIf="postulanteIds.length">
          Registro {{ currentIndex + 1 }} de {{ postulanteIds.length }}
        </span>
        <button
          class="btn btn-secondary"
          (click)="navegarSiguiente()"
          [disabled]="currentIndex >= postulanteIds.length - 1"
        >
          Siguiente →
        </button>
      </div>
      <div class="text-center mb-2"></div>
    </div>

    <!-- div para datos del postulante y la foto-->
    <div class="row flex-xl-row-reverse my-2">
      <!--foto postulante-->
      <div
        class="col-xl-4 d-flex flex-column align-items-center my-2 altura-dinamica"
      >
        <fieldset class="border p-1 rounded mb-3 row g-2 col-xl-12 mt-0">
          <legend class="float-none w-auto px-3">FOTO CARNET</legend>
          <div class="text-center">
            <div class="d-flex justify-content-center">
              <mat-spinner *ngIf="!fotoLista" diameter="50"></mat-spinner>
            </div>

            <img
              *ngIf="fotoLista"
              [src]="imagenUrl"
              alt="Foto del postulante"
              class=""
              style="max-width: 400px"
            />
          </div>
        </fieldset>
      </div>

      <!--Spinner de carga-->
      <div
        *ngIf="!postulante || !formData"
        class="d-flex justify-content-center align-items-center"
        style="height: 300px"
      >
        <mat-spinner diameter="50"></mat-spinner>
      </div>

      <!--datos del postulante-->
      <div class="col-xl-8 overflow-y-scroll altura-dinamica my-2">
        <form
          [formGroup]="InicialFormGroup"
          class="formulario"
          *ngIf="postulante && formData"
        >

        @if(cargando){
          <div class="d-flex justify-content-center align-items-center h-100">
              <mat-spinner diameter="50" ></mat-spinner>
          </div>
          
        }
        @if(!cargando)
        {
          <fieldset class="border p-1 rounded mb-3 row g-2 mt-0">
            <legend class="float-none w-auto px-3 d-flex">DATOS PERSONALES </legend>
            <!-- Alertas -->
             
                <div class="text-danger">
                  <p *ngIf="antecedentes"> *El DNI del postulante se encuentra en la base de datos de internos.</p>
                  <p *ngIf="visitante"> *El DNI del postulante se encuentra en la base de datos de visitantes.</p>
                  <p *ngIf="famAntecedente"> *El DNI de alguno de los familiares del postulante se encuentra en la base de datos de internos.</p>
                  <p *ngIf="famVisitante"> *El DNI de alguno de los familiares del postulante se encuentra en la base de datos de visitantes.</p>
                </div>
             
            
              <!-- Apellido -->
            <div class="col-12 col-md-4 col-xl-2 form-floating">
              <label class="form-label small">Apellido</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="apellido"
                appUppercase
              />
            </div>

            <!-- Nombre -->
            <div class="col-12 col-md-6 col-xl-4 form-floating">
              <label class="form-label small">Nombre</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="nombre"
                appUppercase
              />
            </div>

            <!-- DNI -->
            <div class="col-12 col-md-2 col-xl-2 form-floating">
              <label class="form-label small">DNI</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="dni"
                appUppercase
              />
            </div>

            <!-- e-mail -->
            <div class="col-12 col-md-5 col-xl-4 form-floating">
              <label class="form-label small">Mail</label>
              <input
                type="email"
                class="form-control form-control-sm"
                formControlName="mail"
                appUppercase
              />
            </div>

            <!-- Fecha de nacimiento -->
            <div class="col-12 col-md-3 col-xl-2 form-floating">
              <label class="form-label small">Fecha de Nacimiento</label>
              <input
                type="date"
                class="form-control form-control-sm"
                formControlName="fechaNac"
              />
            </div>

            <!-- Edad -->
            <div class="col-12 col-md-2 col-xl-1 form-floating">
              <label class="form-label small"> Edad </label>
              <input
                type="text"
                class="form-control form-control-sm {{getEdadClass()}}"
                value="{{ edad }}"
                disabled="true"
              />
            </div>

            <!-- Sexo -->
            <div class="col-12 col-md-4 col-xl-2 form-floating">
              <label class="form-label small">Sexo</label>
              <select
                class="form-select form-select-sm"
                formControlName="sexoId"
              >
                <option
                  *ngFor="let sexo of formData.sexos"
                  [value]="sexo.sexoId"
                >
                  {{ sexo.sexoName }}
                </option>
              </select>
            </div>

            <!-- Establecimiento de solicitud -->
            <div
              class="col-12 col-md-4 col-xl-3 form-floating"
              *ngIf="postulante.seguimiento.tipoInscripcionId !== 1"
            >
              <label class="form-label small"
                >Establecimiento de Solicitud</label
              >
              <select
                class="form-select form-select-sm"
                formControlName="estabSolicitudId"
              >
                <option
                  *ngFor="let est of formData.establecimientos"
                  [value]="est.establecimientoId"
                >
                  {{ est.establecimientoCiudad }}
                </option>
              </select>
            </div>

            <!-- Nacionalidad -->
            <div class="col-12 col-md-4 col-xl-3 form-floating">
              <label class="form-label small">Nacionalidad</label>
              <select
                class="form-select form-select-sm"
                formControlName="nacionalidadId"
              >
                <option
                  *ngFor="let nac of formData.nacionalidades"
                  [value]="nac.nacionalidadId"
                >
                  {{ nac.nombreNacionalidad }}
                </option>
              </select>
            </div>

            <!-- Género -->
            <div class="col-12 col-md-3 col-xl-2 form-floating">
              <label class="form-label small">Género</label>
              <select
                class="form-select form-select-sm"
                formControlName="generoId"
              >
                <option
                  *ngFor="let genero of formData.generos"
                  [value]="genero.generoId"
                >
                  {{ genero.generoNombre }}
                </option>
              </select>
            </div>

            <!-- Estado Civil -->
            <div class="col-12 col-md-3 col-xl-2 form-floating">
              <label class="form-label small">Estado Civil</label>
              <select
                class="form-select form-select-sm"
                formControlName="estadoCivilId"
              >
                <option
                  *ngFor="let estado of formData.estadosCiviles"
                  [value]="estado.estadoCivilId"
                >
                  {{ estado.estadoCivilNombre }}
                </option>
              </select>
            </div>

            <!-- Altura -->
            <div class="col-12 col-md-3 col-xl-2 form-floating">
              <label class="form-label small">Altura (cm)</label>
              <input
                type="number"
                class="form-control form-control-sm"
                formControlName="altura"
              />
            </div>

            <!-- Peso -->
            <div class="col-12 col-md-3 col-xl-2 form-floating">
              <label class="form-label small">Peso (kg)</label>
              <input
                type="number"
                class="form-control form-control-sm"
                formControlName="peso"
              />
            </div>

             <!-- IMC -->
            <div class="col-12 col-md-2 col-xl-1 form-floating">
              <label class="form-label small"> IMC </label>
              <input
                type="text"
                class="form-control form-control-sm {{ getIMCClass() }}"
                value="{{ IMC }}"
                disabled="true"
              />
            </div>

            <!-- Cantidad de tatuajes -->
            <div class="col-12 col-md-3 col-xl-2 form-floating">
              <label class="form-label small">Tatuajes</label>
              <input
                type="number"
                class="form-control form-control-sm"
                formControlName="cantidadTatuajes"
              />
            </div>
          </fieldset>
          <fieldset class="border p-1 rounded mb-3 row g-2">
            <legend class="float-none w-auto px-3">DOMICILIO</legend>
            <!-- Calle -->
            <div class="col-12 col-md-5 col-xl-4 form-floating">
              <label class="form-label small">Calle</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="calle"
                appUppercase
              />
            </div>

            <!-- Número -->
            <div class="col-12 col-md-3 col-xl-2 form-floating">
              <label class="form-label small">Número</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="numero"
                appUppercase
              />
            </div>

            <!-- Localidad -->
            <div class="col-12 col-md-5 col-xl-4 form-floating">
              <label class="form-label small">Localidad</label>
              <select
                class="form-select form-select-sm"
                formControlName="localidadId"
              >
                <option
                  *ngFor="let loc of formData.localidades"
                  [value]="loc.localidadId"
                >
                  {{ loc.localidadName }}
                </option>
              </select>
            </div>

            <!-- Código postal -->
            <div class="col-12 col-md-4 col-xl-2 form-floating">
              <label class="form-label small">Código Postal</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="codigoPostal"
                appUppercase
              />
            </div>
          </fieldset>

          <!-- Contactos -->
          <app-contactos
            [contactos]="postulante.contactos"
            [habilitado] = "habilitado"
            [postulanteId]="postulante.postulanteId"
            (contactosChange)="actualizarContactos($event)"
            >
          </app-contactos>

          <!-- Estudios -->
          <app-estudios
          [estudios]="postulante.estudios"
          [habilitado] = "habilitado"
          [postulanteId]="postulante.postulanteId"
          [niveles]="formData.nivelEstudios"
          (estudiosChange)="actualizarEstudios($event)"
          ></app-estudios>

          <!-- trabajo -->
          <app-trabajos
          [trabajos]="postulante.trabajos"
          [habilitado]="habilitado"
          [postulanteId]="postulante.postulanteId"
          (trabajosChange)="actualizarTrabajos($event)"
          >
          </app-trabajos>


          <!-- Familiares -->
          <app-familiar
          [familiares]="Familiares"
          [habilitado]="habilitado"
          [postulanteId]="postulante.postulanteId"
          [parentescos]="formData.parentescos"
          (familiaresChange)="actualizarFamiliares($event)"
          ></app-familiar>

          <!-- Observaciones -->
          <fieldset class="border p-1 rounded mb-3 row g-2">
            <legend class="float-none w-auto px-3">OBSERVACIONES</legend>
            <div class="col-12 form-floating">
              <!-- <label class="form-label small">Observaciones</label> -->
              <textarea
                class="form-control form-control-sm"
                rows="3"
                formControlName="observaciones"
                appUppercase
                readonly="true"
              ></textarea>
            </div>
          </fieldset>
          <div class="d-xl-flex gap-2 float-end">
            <button *ngIf="habilitado" [disabled]="guardando" type="button" class="btn btn-danger " (click)="deshabilitar()">Cancelar</button>
            <button *ngIf="habilitado" [disabled]="guardando" type="button" class="btn btn-success " (click)="guardar()">
              <span *ngIf="guardando" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
              {{ guardando ? 'Guardando...' : 'Guardar Cambios' }}
            </button>
            <button *ngIf="!habilitado" [disabled]="guardando"  type="button" class="btn btn-secondary" (click)="habilitar()">Modificar</button>
          </div>
        }
        </form>
      </div>
    </div>
    <hr class="" />
    <div *ngIf="postulante" class="row d-xl-flex">
      <app-seguimiento [seguimiento]="postulante.seguimiento" [formData]="formData"></app-seguimiento>
    </div>
  </ng-template>
</div>
